.component {
  background-color: #14191A;
  position: fixed;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #FFFFFF;
  transition: width 0.3s ease;
  width: 100px;
  overflow: hidden;
  &.open {
    width: 280px;
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  &.open {
    flex-direction: unset;
  }
}

.logoText{
  .logo{
    img{
      width: 40px;
    }
  }
  .iconlogo{
    img{
      transition: width 0.001s ease;
      width: 220px;
    }
  }
}

.content{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  gap: 20px;
  transition: width 0.3s ease;
  img{
    width: 45px;
  }
  a{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
  }
}
