.component {
  position: fixed;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: black;
  transition: width 0.3s ease;
  width: 100px;
  overflow: hidden;
  &.open {
    width: 250px;
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  &.open {
    flex-direction: unset;
  }
}

.logoText{
  h1{
    white-space: nowrap;
  }
  img{
    width: 45px;
  }
}

.content{
  img{
    width: 45px;
  }
  a{
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
  }
}
