.component{
  display: grid;
  button{
    height: 48px;
    background: #212121;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.11);
    border-radius: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    border: none;
  }
}

.title{
  h1{
    font-size: 25px;
  }
}

.inputData{
  label{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  input{
    height: 48px;
    width: 100%;
    background-color: #fafafa;
    border:0;
    border-radius: 5px;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    font-size: 16px;
    padding: 10px;
  }
}
