.content{
  background-color: #FFFFFF;
  min-height: calc(100vh - 65px);
  margin-left: 100px;
  padding: 40px;
  transition: margin-left 0.3s ease;
  &.open{
    margin-left: 280px;
  }
}

.header{
  hr{
	border: none;
  border-top: 1px solid rgba(20,25,26,0.12);
  }
}

