.input{
  width: 300px;
  color: #222;
  padding: 23px;
  border-radius: 45px 0 0 45px;
  border: none;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  background-color: #FFF;
}

.button{
  color: #FFF;
  background: #F42E30;
  padding: 25px;
  width: 100px;
  border-radius: 0 45px 45px 0;
  outline: none;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  &:hover{
    background: rgba(227, 44, 47);
  }
}


