@font-face {
  font-family: 'Grtsk Exa';
  src: local('Grtsk Exa'),
  url('../Fonts/GrtskExa-Light.woff2') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: local('Grtsk Exa'),
  url('../Fonts/GrtskExa-Regular.woff2') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: local('Grtsk Exa'),
  url('../Fonts/GrtskExa-Medium.woff2') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: local('Grtsk Exa'),
  url('../Fonts/GrtskExa-Semibold.woff2') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: local('Grtsk Exa'),
  url('../Fonts/GrtskExa-Bold.woff2') format('truetype');
  font-weight: 700;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Grtsk Exa", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

input{
  outline: none;
  font-family: "Grtsk Exa", sans-serif;
  font-weight: 400;
}

button{
  font-family: "Grtsk Exa", sans-serif;
  cursor: pointer;
}
